#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fffffff7;
  }

  
  #navbar h2 a {
    padding: 15px;
    margin: 5px;
    display: inline-block;
    align-items:center ;
    gap: 0.5rem;
  }

 

  
 
  
  