* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #404040;
    color: azure;
  }
  
  a {
    text-decoration: none;
    color: #c29d17;
    transition: 0.8s;
  }
  
  a:hover {
    color: #dd0d0d;
  }